@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("iconfont.woff2") format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}



.menu_button ng-md-icon {
  color: #ffffff;
}
.no_bottom_margin {
  margin-bottom: 0px;
}
md-switch {
}
.md-errors-spacer {
  display: none;
}
.width_100 {
  width: 100%;
}
.no_margin {
  margin: 0px;
}
.no_horizontal_margin {
  margin-left: 0px;
  margin-right: 0px;
}
.no_padding {
  padding: 0px;
}
.black_background {
  background-color: #333333 !important;
  height: 52px;
}
.icon {
  margin-right: 5px;
  font-size: 20px;
  color: #FFFFFF;
}
.main_counter {
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
  &:nth-child(2) {
    border: 2px solid #ccc;
    border-width: 0px 2px;
  }
  h1 {
    font-size: 20px;
  }
  &.time_counter {
    label {
      display: block;
      margin: 0px;
    }
    .sub_label {
      font-size: 11px;
    }
    h1 {
      margin-top: 10px;
    }
  }
}

md-toast {
  top: 0px;
  height: 60px;
  .md-toast-content {
    background-color:#D01F1F !important;
  }
}
.author {
  position: relative;
  bottom: 0px;
  padding: 10px;
  color: #2AA0AB;
  font-size: 15px;
  text-align: center;
  display: block;
  text-decoration: none;
}